body{
    background-image: url(/src/images/DJ.jpg);
    display: grid;
    place-content: center;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

code {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}